.active {
    color: #4C0D32 !important;
    font-weight: bold !important;
}

* {
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mini-hero {
   background-color:#230007;
   color: #ffaf42;
    background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

body {
	background-color: #DCC7AA;
    margin: 0;
    align-content: center;
}

header {
        position: sticky;
	box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    z-index: 9999;
}

h1 {
    font-size: 40px;
    font-weight: bolder;
    color: #ffaf42;
    width: 100%;
    margin: 0;
}

h2 {
    color: #000;
	display: inline;
	font-size: 25px;
	font-weight: bold;
	width: 100%;
	padding-top: 5vh;
	margin: 0; 
}

h3 {
	display: inline;
	font-size: 15px;
	font-weight: normal;
	color: #000;
	width: 100%;
	padding-top: 5vh;
	margin:0;
}

img {
    width: 400px;
    height: 300px;
    /*margin: -75px 0 0 -100px;*/
}

#nav-bar {
	width: 100%; 
	background-color: #4C0D32;
	color: #FFEBD8;
	padding-top: 5px; 
	padding-bottom: 5px; 
	z-index: 9999;
	text-align: center;
}

#nav-bar a {
    float: left;
    color: #000;
    font-size: 20px;
    text-decoration: none;

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

#nav-bar ul {
    list-style-type: none;
    padding-top: 10px;
}

#nav-bar ul li {
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #F3D8C7;
    border-radius: 2%
}

#formarea {text-align: center;}

.recipe {
    display: block;
    border-width: 2px;
    padding: 0 .5%;
    margin: 0 0.2%;
    border-style: dashed;
    border-color: #1e1e1e;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    /*object-fit: cover;*/
    display: flex;
    flex-wrap: wrap;
}

.recipe * {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*for button*/
#Goback {
  background-color: #a16529;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
#Goback:hover {
  background-color: #cc8135;
}
