body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	background-color: #D8FFFF;
    margin: 0;
    align-content: center;
}

header {
	box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    background-color: #4c0d32; 
    z-index: 9999;
    text-align: center;
}

h1 {
    display: inline;
    font-size: 40px;
    font-weight: bolder;
    color: #FFEBD8;
    width: 100%;
    padding-top: 5vh;
    margin: 0;
}

h2 {
	display: inline;
	font-size: 25px;
	font-weight: bold;
	color: #000;
	width: 100%;
	padding-top: 5vh;
	margin: 0; 
}

h3 {
	display: inline;
	font-size: 15px;
	font-weight: normal;
	color: #000;
	width: 100%;
	padding-top: 5vh;
	margin:0;
}

#nav-bar {
	width: 100%; 
	background-color: #4c0d32; 
	color: #FFEBD8;
	padding-top: 5px; 
	padding-bottom: 5px; 
	z-index: 9999;
	text-align: center;
}
#formarea {text-align: center;}